@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  --radius: 0.5rem;
}

body {
  font-family: var(--font-archivo), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-libre_franklin), sans-serif;
}

.text-xl{
 color: rgb(0, 0, 0);
}

.tarjetas{background-color: #d5d5d517;}

.boton{
  background-color: #9999994d ;
}

.boton2{
  background-color: #ffffff;
}

.centrar{    display: flex;
  justify-content: center;
}
.colorazul{
 border-color: #3b82f6 
 ;
 background-color: #3b82f6 ;
 ;
}